<div class="app_main_track_area">

    <div class="recording_track_list">
        <% for(track of track_list){ %>

            <!-- Track -->
            <div class="recording_track <%- track.track_colour %>" id="<%- track.track_id %>">
                <% for(recording of track.recordings){ %>

                    <!-- Recording -->
                    <div id="<%- recording.recording_id %>" class="track_section" start="<%- recording.start_second %>" duration="1" >
                        <audio src="<%- recording.audio %>"></audio>
                    </div>
                
                <% } %>
            </div>
        <% } %>
    </div>
</div>