<div class="sidebar">
    <div class="floating_sidebar">
        <div class="logo_area">
            <a href="/">
                <img class="logo" src="/img/logos/logo_light.svg"> 
            </a>
        </div>
    
        <div class="main_area">

            <!-- Main Navigation -->
            <div class="main_navigation">

                <%- include('sidebar_item', { id: 'projects', href: '/', name: 'Projects', img: 'projects.svg',  }) %>

                <%- include('sidebar_item', { id: 'bandmates', href: '/bandmates', name: 'Bandmates', img: 'bandmates.svg',  }) %>

                <%- include('sidebar_item', { id: 'settings', href: '/settings', name: 'Settings', img: 'settings.svg',  }) %>

                <%- include('sidebar_item', { id: 'test', href: '/test', name: 'Dashboard', img: 'dashboard.svg',  }) %>

            </div>

            <div class="shortcuts"></div>

            <style>
                .logout {
                    padding: 24px;
                }
            </style>
            <form action="/logout?_method=DELETE" method="POST" class="logout">
                <button class="primary_button" type="submit">Log Out</button>
            </form>

        </div>
    
        <div class="user_area">
            <div class="user">
                <img class="user_picture" src="/img/icons/placeholders/user.svg" alt="profile_picture">
                <div class="user_name"><%= user.username %></div>
            </div>
        </div>
    </div>
</div>