<div class="index_page">

    <!-- Loading Screen -->
    <%- include('../components/ui/loading_screen') %>

    <!-- Sidenav -->
    <%- include('../components/main/sidebar', { user: user }) %>

    <div class="page">

        <!-- Top Bar -->
        <%- include('../components/app/app_header', { page_title : title }) %>

        <!-- Main Area -->
        <div class="app_main">

            <% const track_list = project.tracks %>

            <!-- Track Bar -->
            <%- include('../components/app/track_bar', { track_list : track_list }) %>

            <div class="app_main_track_area">

                <div class="recording_track_list">
                    <% for(track of track_list){ %>

                        <!-- Track -->
                        <div class="recording_track" id="<%- track.track_id %>">
                            <% for(recording of track.recordings){ %>

                                <!-- Recording -->
                                <!-- <div class="track_section <%- track.track_colour %>" start="0" duration="1" ></div> -->
                            
                            <% } %>
                        </div>

                    <% } %>
                </div>
            </div>
        </div>

        <!-- Bottom Bar -->
        <%- include('../components/app/app_footer', { test: "Test" }) %>

    </div>

    <!-- Load App -->
    <script src="/js/project_app/project.js"></script>
    <script src="/js/project_app/record.js"></script>
    
</div>