<div class="entry_page register">
    
    <!-- Register Area -->
    <div class="entry_panel register">

        <!-- Area to go login -->
        <div class="alternative_area">
            <p class="message">Already have an account?</p>
            <a class="primary_button" href="/login">Sign In</a>
        </div>

        <!-- Form Area -->
        <div class="form_area">
            
            <h1 class="title"><%- title %></h1>
            
            <form action="/register" method="POST">

                <!-- Username -->
                <div class="input_text">
                    <div class="input_container">
                        <label class="input_label" for="username" >Username</label>
                        <input id="register_username" type="text" name="username" value="<%= user.username %>" required/>
                    </div>
                </div>

                <!-- Email -->
                <div class="input_text">
                    <div class="input_container">
                        <label class="input_label" for="email" >Email</label>
                        <input id="register_email" type="email" name="email" value="<%= user.email %>" required />
                    </div>
                </div>

                <div class="split">                
                    <!-- Name -->
                    <div class="input_text">
                        <div class="input_container">
                            <label class="input_label" for="name" >Name</label>
                            <input id="register_name" type="text" name="name" value="<%= user.name %>" required/>
                        </div>
                    </div>

                    <!-- Surname -->
                    <div class="input_text">
                        <div class="input_container">
                            <label class="input_label" for="surname" >Surname</label>
                            <input id="register_surname" type="text" name="surname" value="<%= user.surname %>" required/>
                        </div>
                    </div>
                </div>

                <!-- Password -->
                <div class="input_text">
                    <div class="input_container">
                        <label class="input_label" for="password">Password</label>
                        <input id="register_password" type="password" name="password" value="<%= user.password %>" required />
                    </div>
                </div>
                
                <!-- Register button -->
                <button class="primary_button" type="submit">Register</button>

                <!-- Error Message -->
                <% if (locals.errorMessage != null) { %>
                    <%= errorMessage %>
                <% } %>

            </form>
        </div>

        <!-- Back to Website -->
        <div class="website_area">
            <a class="tertiary_button" href="#">Go back to website »</a>
        </div>

    </div>

    <!-- Background area -->
    <%- include("../components/entry_background", { headline: "Just get it<br>recorded"}); %>

</div>